.title {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.text-info {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
}

.activity-button-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.cat-container{
    width: 1325px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 16px;
    margin-top: 2em;
    }

.cat {
    background: url('http://evasantos.com/ilustraciones/gatoCity/gatito.svg');
    height: 297px; 
    width: 507.5px;
    margin-top: 2em;
    margin-left: 2em;
    z-index: 10;
    -webkit-animation: sprite-animation 1.2s steps(16,end) infinite;
    -moz-animation: sprite-animation 1.2s steps(16,end) infinite; 
    -ms-animation: sprite-animation 1.2s steps(16,end) infinite; 
    animation: sprite-animation 1.2s steps(16,end) infinite;
}

@keyframes  cat-movement {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
@-webkit-keyframes  cat-movement {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
@-ms-keyframes  cat-movement {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
@-moz-keyframes  cat-movement {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

@-webkit-keyframes sprite-animation { 
    from { background-position: 0 0; }
    to { background-position: -8120px 0; } 
}

@-ms-keyframes sprite-animation { 
    from { background-position: 0 0; }
    to { background-position: -8120px 0; }
}

@-moz-keyframes sprite-animation { 
    from { background-position: 0 0; }
    to { background-position: -8120px 0; }
}

@keyframes sprite-animation { 
    from { background-position: 0 0; }
    to { background-position: -8120px 0; }
}