.title {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.text-info {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
}

.activity-button-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}